input {
    outline: none;
}

.swiper {
    width: 100%;
    height: 100%;
}

@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateX(-50%) translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
}

.animate-fade-up {
    animation: fadeUp 0.25s 1 ease-out;
}
